@font-face {
  font-family: "Lexend";
  src: url("fonts/lexend-v23-latin-200.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Lexend";
  src: url("fonts/lexend-v23-latin-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Lexend";
  src: url("fonts/lexend-v23-latin-500.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Lexend";
  src: url("fonts/lexend-v23-latin-600.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}
body {
  font-family: "Lexend", sans-serif;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #f8efe4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
.container {
  width: 60%;
  background-color: white;
  padding: 20px;
  margin: 20px 0;
  border-radius: 10px;
}
.header img {
  width: 100%;
  border-radius: 12px;
}
h1,
h2 {
  font-family: "Merriweather", serif;
  color: #5a3e2b;
}
.prep-time {
  background-color: #fde8e8;
  padding: 10px;
  border-radius: 5px;
}
ul,
ol {
  line-height: 1.8;
}
.nutrition {
  margin-top: 20px;
}
table {
  width: 100%;
  border-collapse: collapse;
}
th,
td {
  border-bottom: 1px solid #ddd;
  padding: 10px;
  text-align: left;
  font-family: "Open Sans", sans-serif;
}
th {
  color: #7b4b2b;
}
